@model LeagueOrganizer.Models.Division

@{
    ViewData["Title"] = "Division Details";
}

<h2>Item Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Skill) : @Html.DisplayFor(model => model.Skill)</p>
<p>@Html.DisplayNameFor(model => model.MaxTeams) : @Html.DisplayFor(model => model.MaxTeams)</p>

<p>Teams:</p>
@foreach (var team in Model.Teams)
{
    <br />
    @Html.DisplayFor(modelDivision => team.Name)

}


@Html.ActionLink("Back to List", "Index")</p>

